<div>
  <div (click)="toMain()">На главную</div>

    <form #f="ngForm"
          (ngSubmit)="onSubmit(f.value)"
          class="ui form">

      <div class="form-group">
        <label for="name">Название</label>
        <input type="text" class="form-control" id="name" name="name" ngModel required>
      </div>

      <div class="form-group">
      <label for="now-date">Дата</label>
      <input type="date" class="form-control" id="now-date" name="date" ngModel required>
      </div>

      <div class="form-group">
        <label for="author">Автор</label>
        <input type="text" class="form-control" id="author" name="author" ngModel required>
      </div>
      <div class="form-group">
        <label for="isbn">ISBN</label>
        <input type="text" class="form-control" id="isbn"  name="isbn" ngModel required>
      </div>
      <div class="form-group">
        <label for="description">Описание</label>
        <input type="text" class="form-control" id="description"  name="description" ngModel required>
      </div>
      <button type="submit" class="ui button">Добавить</button>
    </form>

  <div *ngIf="answer">Запись успешно добавлена!</div>

</div>



