<div>
  <div (click)="toMain()">На главную</div>
  <div>ID: {{book.id}}</div>
  <div>Название: {{book.name}}</div>
  <div>Дата: {{book.date}}</div>
  <div>Автор: {{book.author}}</div>
  <div>ISBN: {{book.isbn}}</div>
  <div>Описание: {{book.description}}</div>
</div>



