:host{
  display:block;
}

:host /deep/ .index-column,
:host /deep/ .index-column-header {
  text-align: right;
}

:host /deep/ .data-table .data-table-row.selected {
  background-color: #E4EDF9;
}

.sort{
  float:right;
}

td{
  min-width:60px;
}

li{
  margin-left:10px;
  margin-right:10px;
  border: 1px solid #000;
}

.active{
 background-color: cornflowerblue;
}

.add-button{
  border: 1px solid #000;
  background-color: forestgreen;
  width: 150px;
  text-align: center;
}
