<table>
   <tr>
      <td>ID <div class="sort" (click)="setBookTarget(0)">sort</div></td>
      <td>Назание <div class="sort" (click)="setBookTarget(1)">sort</div></td>
      <td>Дата <div class="sort" (click)="setBookTarget(2)">sort</div></td>
      <td>Автор <div class="sort" (click)="setBookTarget(3)">sort</div></td>
      <td>ISBN <div class="sort" (click)="setBookTarget(4)">sort</div></td>
   </tr>
   <!--<tr *ngFor="let item of books">-->
      <!--<td>{{item.id}}</td>-->
      <!--<td>{{item.name}}</td>-->
      <!--<td>{{item.date | date}}</td>-->
      <!--<td>{{item.author}}</td>-->
      <!--<td>{{item.isbn}}</td>-->
     <!--</tr>-->
  <tr *ngFor="let item of pagedItems" (click)="selectBook(item.id)">
    <td>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.date}}</td>
    <td>{{item.author}}</td>
    <td>{{item.isbn}}</td>
  </tr>

</table>

<!-- pager -->
<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
  <li [ngClass]="{disabled:pager.currentPage === 1}">
    <a (click)="setPage(1)">First</a>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === 1}">
    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
  </li>
  <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
    <a (click)="setPage(page)">{{page}}</a>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
    <a (click)="setPage(pager.currentPage + 1)">Next</a>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
    <a (click)="setPage(pager.totalPages)">Last</a>
  </li>
</ul>

<div class="add-button" (click)="toNewBook()">Добавить книгу</div>



